.signup-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  padding: 0; /* space remove */
  margin: 0;

  background: transparent; /* already correct */
}

.signup-card {
  width: 100%;
  max-width: 380px; /* des (kami) size */
  padding: 26px 22px; /* compact padding */

  background: rgba(255, 255, 255, 0.95);
  border-radius: 20px;
  box-shadow: 0 15px 35px rgba(15, 47, 87, 0.15);

  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(10px);
}

.signup-title {
  margin-bottom: 4px; /* small gap */
  font-size: 26px; /* thoda small */
  font-weight: 800;
  color: #0f2f57;
}

.signup-sub {
  font-size: 13px;
  color: #667085;
  margin-bottom: 16px; /* gap small*/
}

.signup-input {
  width: 100%;
  padding: 11px 12px;
  margin: 8px 0; /* tight spacing */

  border: 1px solid #d9e0e6;
  border-radius: 10px;

  outline: none;
  font-size: 14px;
  background: rgba(249, 251, 252, 0.96);
  transition: 0.25s ease;
}

.signup-input:focus {
  border-color: #20bfb8;
  background: white;
  box-shadow: 0 0 0 2px rgba(32, 191, 184, 0.1);
}

.signup-btn {
  width: 100%;
  padding: 12px;
  margin-top: 12px;

  border: none;
  color: white;
  border-radius: 10px;

  cursor: pointer;
  font-weight: 700;
  font-size: 14px;

  background: linear-gradient(135deg, #0b2c4a, #123d6b, #16a085);
  transition: 0.25s ease;
}

.signup-btn:hover {
  transform: translateY(-1px);
  box-shadow: 0 10px 20px rgba(15, 47, 87, 0.15);
}

.signup-switch {
  margin-top: 14px; /* little bit  gap */
  font-size: 12px;
  color: #667085;
}

.signup-switch span {
  color: #0f2f57;
  font-weight: 700;
  cursor: pointer;
  margin-left: 4px;
}

.signup-switch span:hover {
  text-decoration: underline;
}